{% extends 'base.html' %}

{% block title %}Import Schools Data{% endblock title %}


{% block homepage %}
    <h3>Import Schools Data</h3>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</li><br>
        Click <a href="{% url 'index' %}">here</a> to view the full map
        {% endfor %}
    </ul>
    {% endif %}
    <form class="mt-3" action="{% url 'import-schools-data' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="importData">
        <p>Please select the format of the file</p>
        <select name="file-format" class="form-control my-3">
            <option selected>Choose format...</option>
            <option>CSV</option>
            <option>JSON</option>
            <option>XLS (Excel)</option>
        </select>
        <button class="btn btn-primary" type="submit">Import</button>
    </form>

    <a href="{% url 'index' %}">Return Home View</a><br />
{% endblock homepage %}
