{% extends 'base.html' %}

{% block title %}Export Libraries Data{% endblock title %}


{% block homepage %}
    <h3>Export Libraries Data</h3>
    <form action="{% url 'export-libraries-data' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Please select the format of the file</p>
        <select name="file-format" class="form-control my-3">
            <option selected>Choose format...</option>
            <option>CSV</option>
            <option>JSON</option>
            <option>XLS (Excel)</option>
        </select>
        <button class="btn btn-primary" type="submit">Export</button>
    </form>

    <a href="{% url 'index' %}">Return Home View</a><br />
{% endblock homepage %}
